
Infinity.Auto.Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infinity.Auto.Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infinity.Auto.Lib/obj/Debug/Infinity.Automation.Lib.csproj.CoreCompileInputs.cache
Infinity.Auto.Lib/obj/Debug/Infinity.Automation.Lib.csproj.FileListAbsolute.txt
Infinity.Auto.Lib/obj/Debug/Infinity.Automation.Lib.csprojAssemblyReference.cache
Infinity.Auto.Test/bin/Debug/Infinity.Automation.Lib.dll
Infinity.Auto.Test/bin/Debug/Infinity.Automation.Lib.pdb
Infinity.Auto.Test/bin/Debug/mrpFS.AutoTest.exe
Infinity.Auto.Test/bin/Debug/mrpFS.AutoTest.pdb
Infinity.Auto.Test/Inifnity.Automation.csproj.user
Infinity.Auto.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infinity.Auto.Test/obj/Debug/Inifnity.Automation.csproj.CoreCompileInputs.cache
Infinity.Auto.Test/obj/Debug/Inifnity.Automation.csproj.FileListAbsolute.txt
Infinity.Auto.Test/obj/Debug/Inifnity.Automation.csproj.GenerateResource.cache
Infinity.Auto.Test/obj/Debug/Inifnity.Automation.csprojAssemblyReference.cache
Infinity.Auto.Test/obj/Debug/mrpFS.AutoTest.exe
Infinity.Auto.Test/obj/Debug/mrpFS.AutoTest.pdb
Infinity.Auto.Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infinity.Auto.Lib/obj/Debug/Infinity.Automation.Lib.csproj.CoreCompileInputs.cache
Infinity.Auto.Lib/obj/Debug/Infinity.Automation.Lib.csproj.FileListAbsolute.txt
Infinity.Auto.Lib/obj/Debug/Infinity.Automation.Lib.csprojAssemblyReference.cache
Infinity.Auto.Lib/obj/Debug/Infinity.Automation.Lib.dll
Infinity.Auto.Lib/obj/Debug/Infinity.Automation.Lib.pdb
Infinity.Auto.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infinity.Auto.Test/obj/Debug/Inifnity.Automation.csproj.CoreCompileInputs.cache
Infinity.Auto.Test/obj/Debug/Inifnity.Automation.csproj.FileListAbsolute.txt
Infinity.Auto.Test/obj/Debug/Inifnity.Automation.csproj.GenerateResource.cache
Infinity.Auto.Test/obj/Debug/Inifnity.Automation.csprojAssemblyReference.cache
Infinity.Auto.Test/obj/Debug/mrpFS.AutoTest.exe
Infinity.Auto.Test/obj/Debug/mrpFS.AutoTest.pdb
