<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiteDB" version="5.0.13" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net472" />
  <package id="ScreenRecorderLib" version="3.0.2" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha01" targetFramework="net472" />
  <package id="System.CodeDom" version="5.0.0" targetFramework="net472" />
</packages>